
<!-- footer start -->
<div class="footer">
    <div class="container footer_container">
      <div>
        <ul>
          <li>CÔNG TY TNHH TIN HỌC CÔNG NGHỆ AZ VIỆT NAM</li>
          <li>Địa chỉ: Số 18, ngõ 121, Thái Hà, Đống Đa, Hà Nội</li>
          <li>Hotline: 0825 233 233</li>
          <li>Email: hotrolaptopaz@gmail.com</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>THÔNG TIN CÔNG TY</li>
          <li>Giới thiệu công ty</li>
          <li>Tuyển dụng</li>
          <li>Gửi góp ý, khiếu nại</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>CHÍNH SÁCH CÔNG TY</li>
          <li>Chính sách chất lượng</li>
          <li>Chính sách bảo hành</li>
          <li>Chính sách đổi trả</li>
          <li>Chính sách bảo mật thông tin</li>

        </ul>
      </div>
      <div>
        <div class="footer_hotline">
          <span>HOTLINE :</span>
          <span>0364141625</span>
        </div>
      </div>
    </div>
    <div class="footer_contact">@Bản quyền thuộc về Phạm Văn Của</div>
  </div>
<!-- footer end -->
